<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBy4P4Of4MO1WVpxh0qPl1T9KkeU_bpMmM</string>
	<key>GCM_SENDER_ID</key>
	<string>598636200191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitala.clubfutbol</string>
	<key>PROJECT_ID</key>
	<string>club-futbol-abh</string>
	<key>STORAGE_BUCKET</key>
	<string>club-futbol-abh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:598636200191:ios:9043fa02de3c0942e04cca</string>
</dict>
</plist>
